@font-face { font-family: "Zekton";             src: url("../fonts/zekton.ttf"); }
@font-face { font-family: "Earth Orbiter";      src: url("../fonts/earthorbiter.ttf"); }
.content_container{                                     /* MAIN CONTAINER */
    width: 100%;
    height: 100%;
}

.content_container2{                                    /* 2nd Layer CONTAINER */
    width: 100%;
    height: 100%;
    background-color: #a06655;
}

.content_mask{                                         /* Transparent white background */
    width: 100%;
    background-color: #ffffff69;
    text-align: center;
}

.text_container{                                       /* HOME TEXT CONTAINER */
    width: 95%;
    height: 100%;
    margin-bottom: 30px;
    display: inline-block;
    background-color: #e2dddd00;
}

h1.title{
    margin-top: 20px;
    text-align: center;
    font-family: 'Earth Orbiter';
    font-size: 35px;
    color: #000000;
}

h2.title{
    margin-top: 20px;
    text-align: center;
    font-family: 'Zekton';
    font-size: 30px;
    color: #000000;
}

h3.title{
    margin-top: 20px;
    text-align: center;
    font-family: 'Zekton';
    font-size: 30px;
    color: #000000;
}

p.content{
    font-family: 'Trebuchet MS';
    font-size: 20px;
    text-align: left;
}

div.sub_content{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

/* FORM DESIGN */
input, select {                                                  /* Select drop down design */
    width: 190px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: "Trebuchet MS";
    font-size: 17px;
}

::-webkit-input-placeholder {                                               /* Modifies placeholder text designs */
    font-family: "Trebuchet MS";
    font-size: 20;
}

input.button2[type=submit] {                                                /* Input code for submit button */
    width: 200px;
    background-color: #ffffff;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;                                                        /* Changes to pointer cursor when user hovers on it */
    transform: scale(0.9);
    transition: 0.3s;
    font-family: "Trebuchet MS";
    font-size: 40;
}

input[type=submit]:hover {                                                  /* Have hover effect of submit button */
    opacity: 0.9;
    transform: scale(1.0);
    transition: 0.3s;
}

.icon{
    width: 30px;
    height: 30px;
}

.logo{
    width: 220px;
    height: 130px;
}

.home{
    width: 230px;
    height: 130px;
}

.picture_feed{
    width: 100px;
    height: 100px;
    image-resolution: 50%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td.text{
    padding: 20px;
}

div.news_feed{
    width: 100%;
    height: 600px;
    background-color: #e6e6e68a;
}

div.news_content{
    overflow: auto;
    height: 470px;
    background-color: #ffffff69;
}

::-webkit-scrollbar {                                                                               /* Width of Scrollbar*/
    width: 3px;
}
  
::-webkit-scrollbar-track {                                                                         /* Track bar progress */
    background: #ffffff;
}

::-webkit-scrollbar-thumb {                                                                         /* Handle */
    background: #7a7a7a;
}

::-webkit-scrollbar-thumb:hover {                                                                   /* Handle on hover */
    background: #ffffff;
}

a{
    color: #599cff;
}

div.line{
    width: 800px;
    height: 5px;
    display: inline-block;
    border-radius: 90%;
    background-color: #000000;
}