@font-face { font-family: "Zekton";             src: url("../fonts/zekton.ttf"); }
@font-face { font-family: "Earth Orbiter";      src: url("../fonts/earthorbiter.ttf"); }
body{
    background-image: url("../images/bg_2.jpg");
    background-size: 100%;
}

#main_body{                                                  /* MAIN CONTAINER DESIGN */
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#navigation_body{                                            /* NAVIGATION BAR DESIGN */
    width: 100%;
    height: 135px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

.navbar{
    width: 100%;
    height: 100px;
    text-align: center;
}

ul{
    list-style-type: none;
    display: inline-block;
}

li{
    float: left;
}

.content{                                               /* CONTENT BODY SCALE */
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS';
}

#pic{
    width: 200px;
    height: 100px;
    transform: scale(0.9);
    transition: 0.7s;
}

#pic:hover{
    transform: scale(1.0);
    transition: 0.7s;
}

#home_logo{
    margin-top: 20px;
}